@import url("@/styles/fonts/regular.css");
html,
body {
  background-color: #333;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1b1b1b #5e5e5e;
  background-image: url("@/assets/fondoPresentation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
}

.contactFormVisible {
  display: flex;
  animation: contactFromReveal 0.4s ease;
}

.contactFormNotVisible {
  animation: contactFormUnreveal 0.4s ease both;
}

@keyframes contactFromReveal {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes contactFormUnreveal {
  0% {
    display: flex;
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 0.5;
    opacity: 0;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    background-position: center;
  }
}
