.container {
  height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #000000d3;
  justify-content: center;
  padding: 0 80px;
  overflow: hidden;
  position: relative;
}

.iconDown {
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  animation: iconFlotating 1s ease infinite alternate both;
}

.textContainer {
  color: #eee;
  margin-top: 50px;
}

.textContainer h1 {
  font-family: "Montserrat Regular";
  font-size: 2.8rem;
  text-align: center;
}

.textContainer h2:nth-child(2) {
  font-family: "Montserrat Regular";
  font-size: 2.3rem;
  text-align: center;
}

.textContainer :last-child {
  font-family: "Montserrat Regular";
  font-size: 1.6rem;
  text-align: center;
  color: #f3c138;
}

@keyframes iconFlotating {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
